@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    background-color: #a39292;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #252525;
  border-radius: .9rem;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

li {
  float: left;
  border: 1px solid #bbb;
  margin: 2px;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: .9rem;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(230, 16, 16);
  border-radius: .9rem;
}

li.dropdown {
  display: inline-block;
  border-radius: .9rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: .9rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: .9rem;
}

.dropdown-content a:hover {
  background-color: rgb(176, 184, 173);
  border-radius: .9rem;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: .9rem;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}